body {
  background-color: black;
}
hr {
  border: 2px solid rgb(32, 184, 230);
}
.navbar svg {
    height: 1200px;
    width: auto;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
  max-width: 100%;
}
.navbar a {
  color: white;
  font-weight: bold;
}

#description_text {
  color: white;
}

#icons_qSomos {
  background-color: darkcyan;
  color: darkgray;
  padding: 0.3rem;
}

.card {
  background-color: turquoise;
}
.card img {
  height: 130px;
  width: auto;
}
.carousel {
  display: flexbox;
}

footer {
  background-color: turquoise;
}

#footer_Icons i {
  color: white;
  margin-left: .5rem;
}
